.inactive,
.active {
    border: 1px solid transparent;
    padding: 5px;
    margin:  15px 0;
}
.inactive:hover {
    border-color: black;
    cursor: pointer;
}
.active {
    background: yellowgreen;
}