*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.sidebar {
    width: 30%;
    height: 100vh;
    border: 1px solid black;
    overflow: auto;
    padding: 0 20px;
}
.content {
    width: 65%;
    border: 1px solid black;
    padding: 10px 20px;
}